@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: $color-text-dark;
  background-color: $color-background-main;
  font-family: $font-main;
  line-height: 1.5;
  text-align: center;

  .container {
    padding: 50px;
    max-width: 1440px;
    margin: 0 auto;
  }
}

button {
  border: none;
  padding: $spacing-small $spacing-medium;
  font-size: $font-size-title;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  background-color: transparent;
}
