@import '../../../styles/variables.scss';

.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;

  .modalWrapper {
    background-color: $color-background-card;
    width: 100%;
    max-width: 1000px;
    height: 500px;
    border-radius: $radius-small;
    padding: $spacing-large;

    .modalHeader {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .deleteButton {
        background-color: $color-accent;
        width: 90px;
        border-radius: $radius-small;
        font-size: $font-size-small;
        color: $color-text-extra-light;
      }

      .closeButton {
        font-size: 20px;
      }
    }

    .taskInfoWrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 20px 0 20px;

      .taskInfo {
        text-align: left;

        .title {
          font-size: 40px;
          font-weight: bold;
        }

        .description {
          font-size: $font-size-title;
          font-weight: normal;
        }

        .descriptionText {
          font-size: $font-size-text;
        }
      }

      .extraInfo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 195px;
        text-align: left;
        border-left: 1px solid #1a1a11;
        padding-left: $spacing-large;

        .select {
          display: flex;
          align-items: center;
          justify-content: space-between;
          max-width: 160px;
        }
      }

      .statusDot {
        width: 12px;
        height: 12px;
        border-radius: 50%;
      }
    }

    .commentsTitle {
      display: flex;
    }

    .commentsWrapper {
      margin-top: $spacing-large;
      display: flex;
      justify-content: space-between;

      .comments {
        justify-content: space-between;
        width: 665px;
        max-height: 150px;
        overflow-y: auto;
        padding-right: 15px;
        display: flex;
        flex-direction: column;
      }

      .addComment {
        width: 260px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .addCommentInput {
          width: 100%;
          font-size: $font-size-text;
          font-family: $font-main;
          padding: 5px;
          border: 1px solid $color-background-task;
          border-radius: 4px;
        }
      }
    }
  }
}
