@import '../../styles/variables.scss';
.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;

  .modalWrapper {
    background-color: $color-background-card;
    width: 100%;
    max-width: 1000px;
    height: 500px;
    border-radius: $radius-small;
    padding: $spacing-large;

    .modalHeader {
      margin-bottom: $spacing-large;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .deleteButton {
        background-color: $color-accent;
        width: 90px;
        border-radius: $radius-small;
        font-size: $font-size-small;
        color: $color-text-extra-light;
      }
      .closeButton {
        font-size: 20px;
      }
    }
    .taskInfoWrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: $spacing-large;

      .taskInfo {
        text-align: left;

        .title {
          font-size: 40px;
          font-weight: bold;
        }
        .description {
          font-size: $font-size-title;
          font-weight: normal;
        }
        .descriptionText {
          font-size: $font-size-text;
        }
      }

      .extraInfo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 200px;
        text-align: left;
        border-left: 1px solid #1a1a11;
        padding-left: $spacing-large;
      }
    }

    .commentsTitle {
      display: flex;
    }

    .comments {
      padding: $spacing-large;
      display: flex;
      justify-content: space-between;

      .commentsWrapper {
        display: flex;
        flex-direction: column;
      }
      .comment {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .commentInfo {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .commentName {
            margin-right: $spacing-small;
            color: $color-text-extra-light;
            background-color: $color-text-dark;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          .commentText {
            color: $color-text-muted;
            font-size: $font-size-text;
          }
        }
        .commentData {
          color: $color-text-muted;
          font-size: $font-size-text;
        }
      }
    }
  }
}
